<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Message in a bottle</title>
    </head>

    <body>
        <h1>Leave a message in a bottle</h1>

        <p>Number of visitors: {{count}}</p>
        <p>
            <form action="" method="POST">
                <input name="message" type="text"/>
                <input type="submit"/>
            </form>
        </p>
         
        <h3>Messages left behind...</h3>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        
    </body>
    
</html>